<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul class="users">
            <% if (locals.users) { %>
                <% users.forEach(user => { %>
                    <li class="user-info">
                        ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>
                        <a href="/users/<%= user.id %>/update">Update</a>
                    </li>
               <% }) %>
            <% } %>
        </ul>
        <a href="/users/create">Create a user</a>
    </body>
</html>